<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wbin的博客</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/toastr/toastr.min.css">
    <script src="/static/js/flexible.js"></script>
    <link rel="stylesheet" href="/static/css/content.css">


</head>
<body>


    <!-- header -->
    <header id="header">
        <div class="row">
            <div class="navbar navbar-inverse navbar-fixed-top header">
                <div class="container">
                    <div class="col-lg-12 col-xs-12">

                        <div>
                                <a class="navbar-brand" href="/blog/index">wbin的博客</a>
                                <i id="sidebar_trigger" class="fa fa-list" aria-hidden="true"></i>
                                <ul class="nav navbar-nav navbar-right">
                                    {% for header in father_list %}
                                        <li ><a  href="/blog/get_blog?header={{ header.name }}">{{ header.name }}</a>  </li>
                                    {% endfor %}

                                    {% if current_user.is_authenticated %}
                                        <li><a href="/blog/to_write_blog">编写博客</a></li>
                                        <li><a href="/blog/logout">退出登录</a></li>
                                    {% else %}
                                        <li><a href="/blog/login">登录</a></li>
                                    {% endif %}
                                </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- middle -->
    <div class="container middle">

       <div class="row">
            <div class="col-lg-3 col-md-3">
                <ul class="nav nav-tabs  nav-stacked left_sidebar collapse navbar-collapse" id="left-sidebar">
                    {% for son in son_list %}
                        <li class="sidebar-li"><a href="/blog/get_blog?header={{ header }}&sidebar={{ son.name }}" >{{ son.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

           <div class="col-lg-9 col-md-9" id="blog_list">

               <div class="blog_list_header">
                   <h4>文章列表</h4>
                   <form method="post" action="javascript:void(0)">
                       <input type="text" name="condition" id="condition">
                       <button id='search_blog' class="btn-danger" onclick="searchBlog()">搜索</button>
                   </form>
               </div>
               <hr/>

               <div id="related_blog">
                   {% for article in article_list %}
                       <div class="related_blog">
                           <a href="/blog/read_blog/{{ article.id }}">
                               <!-- 第一行 -->
                               <div class="first_line">
                                   <span class="title">{{ article.title }}</span>
                               </div>

                               <!-- 第二行 -->
                               <div class="second_line">
                                   <span class="type">{{ article.type }}</span>
                                   <div class="read_count">
                                       <i class="fa fa-book" aria-hidden="true"></i>{{ article.read_count }}
                                   </div>
                                   <span class="update_time">{{ article.update_time.strftime("%Y-%m-%d %H:%M:%S") }}</span>
                               </div>
                           </a>
                       </div>
                       <hr/>
                   {% endfor %}
               </div>


               <div class="page">
                   {% if end_page != 1 %}
                       {% if page == 1 and  article_list %}
                            <a href="/blog/get_blog?header={{ header }}&page=1&sidebar={{ sidebar }}"><span class="select_page" style="color:#9d9d9d" onmousemove="mouseIn(this)" onmouseout="mouseOut(this)">&laquo;</span></a>
                       {% endif %}
                       {% if page != 1 and  article_list %}
                            <a href="/blog/get_blog?header={{ header }}&page={{ page-1 }}&sidebar={{ sidebar }}"><span class="select_page" style="color:#9d9d9d" onmousemove="mouseIn(this)" onmouseout="mouseOut(this)">&laquo;</span></a>
                       {% endif %}

                       {% for i in range(start_page, end_page + 1) %}
                            <a href="/blog/get_blog?header={{ header }}&page={{ i }}&sidebar={{ sidebar }}">
                                {% if i == page %}
                                    <span class="select_page" style="color: #000000;" >
                                        {{ i }}
                                    </span>

                                {% else %}
                                    <span class="select_page" style="color:#9d9d9d" onmousemove="mouseIn(this)" onmouseout="mouseOut(this)">
                                        {{ i }}
                                    </span>
                                {% endif %}
                            </a>
                       {% endfor %}

                       {% if page == end_page and  article_list %}
                            <a href="/blog/get_blog?header={{ header }}&page={{ end_page }}&sidebar={{ sidebar }}"><span class="select_page" style="color:#9d9d9d" onmousemove="mouseIn(this)" onmouseout="mouseOut(this)">&raquo;</span></a>
                       {% endif %}
                       {% if page != end_page and  article_list %}
                            <a href="/blog/get_blog?header={{ header }}&page={{ page + 1 }}&sidebar={{ sidebar }}"><span class="select_page" style="color:#9d9d9d" onmousemove="mouseIn(this)" onmouseout="mouseOut(this)">&raquo;</span></a>
                       {% endif %}
                   {% endif %}

                </div>
           </div>



        </div>
    </div>


    <!-- 侧边栏 -->
    <div class="mask"></div>

    <aside class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <div class="head-portrait"></div>
            <p>wbin的博客</p>
        </div>
        <ul id="sidebar-ul">
            {% for header in father_list %}
                <div class="hr"></div>
                <li>
                    <i class="fa fa-external-link"></i>
                    <a href="/blog/get_blog?header={{ header.name }}">{{ header.name }}</a>
                </li>
            {% endfor %}

            {% if current_user.is_authenticated %}
                <div class="hr"></div>
                <li>
                    <i class="fa fa-pencil"></i>
                    <a href="/blog/to_write_blog">编写博客</a>
                </li>
                <div class="hr"></div>
                <li>
                    <i class="fa fa-sign-out"></i>
                    <a href="/blog/logout">退出登录</a>
                </li>
            {% else %}

                <div class="hr"></div>
                <li>
                    <i class="fa fa-sign-in"></i>
                    <a href="/blog/login">登录</a>
                </li>
            {% endif %}
        </ul>
    </aside>



    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/static/toastr/toastr.min.js"></script>
    <script src="/static/toastr/toastr.min.js"></script>
    <script src="/static/js/content.js"></script>


</body>
</html>