<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article.title }}</title>
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="/static/js/flexible.js"></script>
    <link rel="stylesheet" href="/static/css/read_blog.css">

</head>

    <!-- header -->
    <header id="header">
        <div class="row">
            <div class="navbar navbar-inverse navbar-fixed-top header">
                <div class="container">
                    <div class="col-lg-12 col-xs-12">

                        <div>
                                <a class="navbar-brand" href="/blog/index">wbin的博客</a>
                                <i id="sidebar_trigger" class="fa fa-list" aria-hidden="true"></i>
                                <ul class="nav navbar-nav navbar-right">
                                    {% for header in father_list %}
                                        <li ><a  href="/blog/get_blog?header={{ header.name }}">{{ header.name }}</a>  </li>
                                    {% endfor %}

                                    {% if current_user.is_authenticated %}
                                        <li><a href="/blog/to_write_blog">编写博客</a></li>
                                        <li><a href="/blog/logout">退出登录</a></li>
                                    {% else %}
                                        <li><a href="/blog/login">登录</a></li>
                                    {% endif %}
                                </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- middle -->
    <div class="container middle">
       <div class="row">

            <div class="col-lg-1 col-xs-1">
                
            </div>



           <div class="col-lg-10 col-xs-12" id="blog_box">
               <div class="blog_box">

                   <div class="blog_title">

                       <h2>{{ article.title }}</h2>
                       <a id="update-blog" href="/blog/edit_blog/{{ article.id }}" >
                           <span onmousemove="mouseIn(this)" onmouseout="mouseOut2(this)">编辑博客</span>
                       </a>

                   </div>

                   <div class="type_box" align="center">
                       <span>{{ article.type }}</span>
                   </div>
                   <span id='publish-time' style="color:#bbb;margin-right:20px;">{{ article.publish_time }}</span>
                   <span id='tags' style="color:#bbb">标签：{{ article.tags }}</span>

                   <div class="read_count" style="float:right;color:#bbb;">
                       <span class="glyphicon glyphicon-eye-open"  ></span>
                       <span style="margin-left:7px;" id="read_count">{{ article.read_count }}</span>
                   </div>
                   <hr/>

                   <div class="blog_content">
                       {{ article.body_html| safe }}
                   </div>

               </div>
           </div>




        </div>
    </div>

    <!-- 侧边栏 -->
    <div class="mask"></div>

    <aside class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <div class="head-portrait"></div>
            <p>wbin的博客</p>
        </div>
        <ul id="sidebar-ul">
            {% for header in father_list %}
                <div class="hr"></div>
                <li>
                    <i class="fa fa-external-link"></i>
                    <a href="/blog/get_blog?header={{ header.name }}">{{ header.name }}</a>
                </li>
            {% endfor %}

            {% if current_user.is_authenticated %}
                <div class="hr"></div>
                <li>
                    <i class="fa fa-pencil"></i>
                    <a href="/blog/to_write_blog">编写博客</a>
                </li>
                <div class="hr"></div>
                <li>
                    <i class="fa fa-sign-out"></i>
                    <a href="/blog/logout">退出登录</a>
                </li>
            {% else %}

                <div class="hr"></div>
                <li>
                    <i class="fa fa-sign-in"></i>
                    <a href="/blog/login">登录</a>
                </li>
            {% endif %}
        </ul>
    </aside>



    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/static/js/read_blog.js"></script>
</body>
</html>